<div>
    <span><a href="AllProducts">Products</a></s></span>
    <span>Categories</s></span>
    <div>
        @model Category
        <h2>New Category</h2>
        <form asp-action="CategoryAdd" asp-controller="Home" method="post">
            <span asp-validation-for="Name"></span>
            <label asp-for="Name">Name of new category:</label>
            <input type="text" asp-for="Name"></input>
            <button type="submit">Create Categoriy</button>
        </form>
    </div>
    <div>
        <h2>Categories: </h2>
        @{
            foreach (var item in ViewBag.allCategories)
            {
               <a href="category/@item.CategoryId">@item.Name</a>
               <br/>
            }
        }
    </div>
</div>